[submodule "limbo/libft"]
	path = limbo/libft
	url = ./limbo/libft/
[submodule "lust/ft_printf"]
	path = lust/ft_printf
	url = ./lust/ft_printf
[submodule "lust/get_next_line"]
	path = lust/get_next_line
	url = ./lust/get_next_line/
[submodule "lust/born2beroot"]
	path = lust/born2beroot
	url = ./lust/born2beroot
